# Blacklist files/folders in same directory as the .gitignore file
/*
.npm/

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Whitelist files/folders in same directory as the .gitignore file
!.gitignore
!.bash_profile
!.bashrc
!.npmrc
!.gemrc
!.inputrc
!.gitconfig
!.tmux.conf
!.git-prompt.sh
!.globalgitignore
!.git-completion.sh
!.config/nvim/init.vim
!.config/pip/pip.conf
