[hub]
	protocol = ssh

[alias]
	co = checkout
	st = status
	br = branch
	logg = log --graph --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d%Creset %s %C(green)(%ad) %C(white)<%an>%Creset' --abbrev-commit --date=local

[push]
  	followTags = true
[core]
	pager = cat
	; excludesFile = ~/Cloud/Development/.globalgitignore
	editor = nvr --remote-wait-silent
