# Blacklist files/folders in same directory as the .gitignore file
/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Whitelist files/folders in same directory as the .gitignore file
!.gitignore
!.config
.config/nvim/repos
!.bash_profile
!.bashrc
!.git-config
!.git-prompt.sh
!.git-completion.sh
